<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdministrador" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60537/Administrador.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministrador"
                contract="AdministradorService.IAdministrador" name="BasicHttpBinding_IAdministrador" />
        </client>
    </system.serviceModel>
</configuration>