
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <div class="row">
                <div class="col-sm-12">
                    <h6>Distrito de ubicacion</h6>
                    <span>Miraflores</span><br>
                    <span>Miraflores</span><br>
                    <span>Miraflores</span><br>
                    <span>Miraflores</span>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <h6>Departamentos</h6>
                    <span>Lima</span><br>
                    <span>Callao</span><br>
                    <span>Arequipa</span><br>
                    <span>Lambayeque</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <h6>Precio</h6>
                </div>

                <div class="col-sm-5"><input type="radio" value="dolares" name="sexo"> Soles</div>

                <div class="col-sm-5"><input type="radio" value="soles" name="sexo"> Dolares</div>
            </div>
            <div class="row">
                <div class="col-sm-5"><input type="text" placeholder="S/ Min" class="form-control"></div>

                <div class="col-sm-5"><input type="text" placeholder="S/ Min" class="form-control"></div>
            </div>
        </div>


        <div class="col-sm-9">

            <div class="row alquiler">

                <div class="col-sm-3 div-image">

                    <img src="~/image/p1.jpg" class="card-img-top imagen-publicidad" alt="">
                </div>
                <div class="col-sm-7">

                    <h6>Cochera "the best"</h6>
                    <p>Av. Brasil 3999 <br> <span>Magdalena del mar</span></p>
                    <p>Cochera espaciosa y con jardin. Servicio de Vigilancia permanente <br>10 m2</p>

                </div>

                <div class="col-sm-2">

                    <br>

                    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#ModalAlquilar">
                        Alquilar
                    </button>
                    <br><br>
                    <button type="button" class="btn btn-primary form-control Comentar" data-toggle="modal" data-target="#ModalComentar" data-backdrop="static" data-keyboard="false">
                        Comentar
                    </button>

                </div>
            </div>
            <br>
            <div class="row alquiler">

                <div class="col-sm-3 div-image">
                    <img src="~/image/p1.jpg" class="card-img-top imagen-publicidad" alt="">
                </div>
                <div class="col-sm-7">

                    <h6>Cochera "the best"</h6>
                    <p>Av. Brasil 3999 <br> <span>Magdalena del mar</span></p>
                    <p>Cochera espaciosa y con jardin. Servicio de Vigilancia permanente <br>10 m2</p>

                </div>

                <div class="col-sm-2">

                    <br>

                    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#ModalAlquilar">
                        Alquilar
                    </button>
                    <br><br>
                    <button type="button" class="btn btn-primary form-control Comentar" data-toggle="modal" data-target="#ModalComentar" data-backdrop="static" data-keyboard="false">
                        Comentar
                    </button>

                </div>
            </div>
            <br>
            <div class="row alquiler">

                <div class="col-sm-3 div-image">

                    <img src="~/image/p1.jpg" class="card-img-top imagen-publicidad" alt="">
                </div>
                <div class="col-sm-7">

                    <h6>Cochera "the best"</h6>
                    <p>Av. Brasil 3999 <br> <span>Magdalena del mar</span></p>
                    <p>Cochera espaciosa y con jardin. Servicio de Vigilancia permanente <br>10 m2</p>

                </div>

                <div class="col-sm-2">

                    <br>

                    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#ModalAlquilar">
                        Alquilar
                    </button>
                    <br><br>
                    <button type="button" class="btn btn-primary form-control Comentar" data-toggle="modal" data-target="#ModalComentar" data-backdrop="static" data-keyboard="false">
                        Comentar
                    </button>

                </div>
            </div>
            <br>
            <div class="row alquiler">

                <div class="col-sm-3 div-image">

                    <img src="~/image/p1.jpg" class="card-img-top imagen-publicidad" alt="">
                </div>
                <div class="col-sm-7">

                    <h6>Cochera "the best"</h6>
                    <p>Av. Brasil 3999 <br> <span>Magdalena del mar</span></p>
                    <p>Cochera espaciosa y con jardin. Servicio de Vigilancia permanente <br>10 m2</p>

                </div>

                <div class="col-sm-2">

                    <br>

                    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#ModalAlquilar">
                        Alquilar
                    </button>
                    <br><br>
                    <button type="button" class="btn btn-primary form-control Comentar" data-toggle="modal" data-target="#ModalComentar" data-backdrop="static" data-keyboard="false">
                        Comentar
                    </button>

                </div>
            </div>
            <br>

        </div>



    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="ModalComentar" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog" role="document">
        <div class="ibox modal-content" id="iboxComentar">
            <div class="modal-header">
                <h5 class="modal-title">Valora nuestro servicio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="ibox-content tab-content modal-body" id="nav-tabContent">
                <div class="sk-spinner sk-spinner-cube-grid">
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                </div>
                <div class="tab-pane fade show active modal-body fondo2" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">

                        <div class="col-sm-4"></div>
                        <div class="col-sm-6">
                            <h6 class="puntuacion">Puntuacion:</h6>

                            <div class="ec-stars-wrapper">
                                <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                                <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                                <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                                <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>


                            </div>
                        </div>
                        <div class="col-sm-4"></div>


                        <div class="col-sm-12">
                            <h6>Comentar:</h6>
                            <textarea class="form-control ComentarValor" cols="40" name="objeto3" spellcheck="true">Hola. Muy buen servicio.</textarea>
                            <br>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade modal-body" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    Ingresa tu email y te enviaremos los datos del anunciante para que te contactes directamente.<br>
                    <input type="email" placeholder="Email" class="form-control contactar">
                    <input type="tel" placeholder="Telefono" class="form-control contactar"><br>
                    <p style="" class="text-center">Al hacer click en "Enviar" aceptas los Terminos y Condiciones y Politicas de Privacidad de EVP.</p>
                </div>
            </div>

            <div class="modal-footer ">
                <button type="button" class="btn btn-primary form-control " id="EnviarValoracion">Enviar</button>
            </div>
        </div>
    </div>

</div>

<script>
    $("#EnviarValoracion").click(function () {
        if ($(".ComentarValor").val().length == 0) {
            alert( "Ingrese un comentario");
        }
        else {


            $('#iboxComentar').children('.ibox-content').toggleClass('sk-loading');
            $.ajax({
                url: '@Url.Action("Valoracion", "Valoracion")',
                data: JSON.stringify({
                    IdValoracion: 1,
                    IdEstacionamiento: 1,
                    Comentario: $(".ComentarValor").val(),
                    Puntuacion: 5,
                }),
                type: "POST",
                cache: false,
                async: true,
                contentType: "application/json;charset=UTF-8",
                datatype: "json",
                success: function (data) {
                    $('#iboxComentar').children('.ibox-content').toggleClass('sk-loading');
                    if (data.status) {
                        swal({
                            title: "Valoración",
                            text: data.value,
                            type: "Success",
                            showCancelButton: false,
                            confirmButtonText: "OK",
                        });
                    }
                    else {
                        swal({
                            title: "Valoración",
                            text: data.value,
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonText: "OK",
                        });
                    }
                },
                error: function (request, status, error) {
                    if (request.status == 500) {
                    }
                    if (request.status == 401) {
                    }
                }
            });
        }

    });

</script>