@{
    ViewBag.Title = "Contact";
}

<br />
<br />
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <img src="~/image/contact.png" class="img-contact">
        </div>
    </div>

    <hr>


    <div class="row">
        <div class="col-sm-6">
            <div class="row contact-1">
                <label class="col-md-4 control-label">Dato 01</label>
                <div class="col-md-8">
                    <input type="text" name="" class="form-control" placeholder="Ingrese Dato 01">
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row contact-1">
                <label class="col-md-4 control-label">Dato 02</label>
                <div class="col-md-8">
                    <input type="text" name="" class="form-control" placeholder="Ingrese Dato 02">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="row contact-1">
                <label class="col-md-4 control-label">Dato 03</label>
                <div class="col-md-8">
                    <input type="text" name="" class="form-control" placeholder="Ingrese Dato 03">
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row contact-1">
                <label class="col-md-4 control-label">Dato 04</label>
                <div class="col-md-8">
                    <input type="text" name="" class="form-control" placeholder="Ingrese Dato 04">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row contact-1">
                <label class="col-md-12 control-label text-center">Mensaje:</label>
                <div class="col-md-12 text-center">
                    <input type="textarea" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-2">
        </div>

        <div class="col-sm-2">
            <h6 class="control-label2">Pais:</h6>
            <div class="row testCategoria contact-1">
                <select class="custom-select d-block w-100">
                    <option value="">Seleccione..</option>
                    <option value="1">test1</option>
                    <option value="2">test2</option>
                    <option value="3">test3</option>
                    <option value="4">test4</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <h6 class="control-label2">Departamento:</h6>
            <div class="row testCategoria">
                <select class="custom-select d-block w-100">
                    <option value="">Seleccione..</option>
                    <option value="1">test1</option>
                    <option value="2">test2</option>
                    <option value="3">test3</option>
                    <option value="4">test4</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <h6 class="control-label2">Provincia:</h6>
            <div class="row testCategoria contact-1">
                <select class="custom-select d-block w-100">
                    <option value="">Seleccione..</option>
                    <option value="1">test1</option>
                    <option value="2">test2</option>
                    <option value="3">test3</option>
                    <option value="4">test4</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <h6 class="control-label2">Codigo ZIP:</h6>
            <input type="text" name="" class="form-control" placeholder="Ingrese ZIP">
        </div>

        <div class="col-sm-2">
        </div>

    </div>


    <div class="row">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
            <input type="checkbox" class="text-center">Acepta las condiciones
        </div>

        <div class="col-sm-4">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-info btn-block btn-primary">Contactar</button>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <br><br>
</div>