.form-control:focus { 
    border: 0;
    border-radius: 0;
    box-shadow: none;
    float: none; 
    border-bottom: solid 2px #707cd2;
  transition: border-width 0.2s linear

}   
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .15rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px ;
    border-bottom: 1px solid #ced4da;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}