.label-gray-center{
	    font-family: gotham,arial,"sans-serif";
    font-size: 14px;
    text-align: center;
    color: #666;
}
.label-gray-right{
	font-family: gotham,arial,"sans-serif";
    font-size: 14px;
    text-align: right;
    color: #666;
}
.label-gray-left{
	font-family: gotham,arial,"sans-serif";
    font-size: 14px;
    text-align: left;
    color: #666;
}